<!DOCTYPE html>
<html>
<head>
  <title>UserSample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div><%= image_tag '/yankees.jpg', style: "height: 100px"%></div>

  <% if @errors %>
    <%= render "layouts/errors", error: @errors %>
  <% end %>

<%= yield %>

</body>
</html>
